@charset "utf-8";
/* CSS Document */
* {
    margin : 0;
    padding: 0;
}

body, html {
    font       : 12px 'trebuchet MS';
    line-height: 20px;
    color      : #404000;
}

body {
    display        : -webkit-box;
    display        : -ms-flexbox;
    display        : flex;
    -ms-flex-pack  : distribute;
    justify-content: space-around;
}

#container {
    -webkit-box-flex     : 0;
    -ms-flex             : 0 0 750px;
    flex                 : 0 0 750px;
    margin               : 0 auto;
    display              : -webkit-box;
    display              : -ms-flexbox;
    display              : flex;
    -webkit-box-orient   : vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction   : column;
    flex-direction       : column;
    -webkit-box-pack     : start;
    -ms-flex-pack        : start;
    justify-content      : flex-start;
    padding              : 50px;
    background-color     : #dd0;
    min-height           : 100%;
}

h1 {
    font-size  : 24px;
    line-height: 24px;
}

h2, h3 {
    margin-top: 18px;
}

p {
    font-size: 14px;
}

.key {
    text-transform: uppercase;
    font-size     : 12px;
}

a {
    outline: none;
    color  : #404000;
}

.intro {
    font-weight: bold;
}

ul {
    list-style-position: inside;
}

form {
    display: block;
}

fieldset {
    border: none;
}

input, label {
    color: #404000;
    font : 12px bold 'trebuchet MS';
}

#liferules input, .cellsizer, .flock, .history, .trails, input[type='number'] {
    margin: 0 3px 0 10px;
}

input[type='number'] {
    width: 30px;
}

canvas {
    border          : 0 solid black;
    background-color: white;
    margin-bottom   : 18px;
    color           : #404000;
    font            : 8px bold 'trebuchet MS';
    text-align      : center;
}

#thetoroid {
    margin-top: 18px;
}

#liferules {
    display: none;
}

#data {
    margin: 12px 0 18px;
    border: 0 solid black;
}

#data a, #data p {
    font-size: 12px;
}

#bugdata td {
    padding-right: 10px;
    text-align   : right;
}

#story {
    width: 700px;
}

#story ul {
    margin     : 10px 0 10px 17px;
    text-indent: -17px;
}

#controls {
    display         : -webkit-box;
    display         : -ms-flexbox;
    display         : flex;
    -webkit-box-pack: justify;
    -ms-flex-pack   : justify;
    justify-content : space-between;
    margin-bottom   : 12px;
}

#lifecontrols {
    display              : -webkit-box;
    display              : -ms-flexbox;
    display              : flex;
    -webkit-box-orient   : vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction   : column;
    flex-direction       : column;
}

#lifecontrols fieldset {
    -webkit-box-flex: 0;
    -ms-flex        : 0 1 auto;
    flex            : 0 1 auto;
}

#steppingcontrols::after {
    content: '';
    display: block;
    clear  : both;
}

#steppingcontrols a {
    float            : left;
    width            : 24px;
    height           : 21px;
    background-image : url("images/buttons.gif");
    background-repeat: no-repeat;
}

#controls #startbutton {
    width              : 38px;
    background-position: 0 -99px;
}

#controls #randombutton {
    margin-right: 10px;
}

#controls #startbutton:hover {
    background-position: -50px -99px;
}

#controls #prevbutton {
    background-position: 0 -74px;
}

#controls #prevbutton:hover {
    background-position: -50px -74px;
}

#controls #stopbutton {
    background-position: 0 0;
}

#controls #stopbutton:hover {
    background-position: -50px 0;
}

#controls #stepbutton {
    background-position: 0 -49px;
}

#controls #stepbutton:hover {
    background-position: -50px -49px;
}

#controls #clearbutton {
    background-position: 0 -25px;
}

#controls #clearbutton:hover {
    background-position: -50px -25px;
}

#controls #randombutton {
    background-position: 0 -125px;
}

#controls #randombutton:hover {
    background-position: -50px -125px;
}

#controls a.toggler, #data a.toggler {
    background-image: none;
    color           : #404000;
}

a.toggler:hover {
    color: white;
}

.r {
    float: right;
}

.h {
    display: none;
}

#controls a.hidden, .hidden {
    display: none;
}

#panels {
    display              : -webkit-box;
    display              : -ms-flexbox;
    display              : flex;
    -webkit-box-orient   : vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction   : column;
    flex-direction       : column;
    -webkit-box-align    : end;
    -ms-flex-align       : end;
    align-items          : flex-end;
}

#ads {
    width      : 121px;
    height     : 600px;
    float      : right;
    margin-left: 10px;
}

.chromeFrameInstallDefaultStyle {
    width : 100%;
    /* default is 800px */
    border: 5px solid blue;
}

/* Google+1 */
#___plusone_0 {
    position: absolute;
    left    : 10px;
    top     : 10px;
}
