@charset "utf-8";

/* CSS Document */
* {
    margin : 0;
    padding: 0;
}

body,
html {
    font       : 12px 'trebuchet MS';
    line-height: 20px;
    color      : #404000;
}

html:not(.isIframed) body {
    display        : flex;
    justify-content: space-around;
}

.isIframed {
    #container {
        display: block;
        margin : 0;
        padding: 0;
        width  : 100%;

        *:not(#thetoroid) {
            display: none;
        }
    }
}

#container {
    flex            : 0 0 750px;
    margin          : 0 auto;
    display         : flex;
    flex-direction  : column;
    justify-content : flex-start;
    padding         : 50px;
    background-color: #dd0;
    min-height      : 100%;
}

h1 {
    font-size  : 24px;
    line-height: 24px;
}

p {
    font-size: 14px;
}

.key {
    text-transform: uppercase;
    font-size     : 12px;
}

a {
    outline: none;
    color  : #404000;
}

.intro {
    font-weight: bold;
}

ul {
    list-style-position: inside;
}

form {
    display: block;
}

input,
label {
    color: #404000;
    font : 12px bold 'trebuchet MS';
}

#bugrules a,
#bugrules input,
#liferules input,
.cellsizer,
.flock,
.history,
.trails,
input[type='number'] {
    margin: 5px 3px 0 0;
}

input[type='number'] {
    width: 40px;
}

canvas {
    border          : 0 solid black;
    background-color: white;
    margin-block    : 18px;
    color           : #404000;
    font            : 8px bold 'trebuchet MS';
    text-align      : center;

    .isIframed & {
        margin: 0;
        width : 250px;
        height: 187px;
    }
}

#bugrules,
#liferules {
    display: none;
}

#bugrules>div,
#liferules>div {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: flex-start;
    width          : 500px;
}

#bugrules>div>label {
    flex: 1 0 200px;
}

#liferules>div>label {
    flex: 1 0 25px;
}

#liferules>div>label:first-child {
    flex: 1 0 60px;
}

#data a,
#data p {
    font-size: 12px;
}

#bugData table {
    width    : 100%;
    max-width: 100%;
}

#bugData td {
    text-align: right;
}

#bugData td.smaller {
    font-size: 9px;
    width    : 300px;
}

#story {
    width: 700px;
}

#story ul {
    margin     : 10px 0 10px 17px;
    text-indent: -17px;
}

.buttonRow {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
}

.buttonRow div {
    display       : flex;
    flex-direction: row;
}

.buttonRow div a,
.buttonRow div label {
    display: inline-block;
}

#lifecontrols {
    display        : flex;
    flex-direction : column;
    justify-content: flex-start;
}

#lifecontrols>div {
    margin           : 0 0 16px;
    border           : 0 solid black;
    /* flex          : 0 1 auto;
    display          : flex;
    flex-direction   : row; */
}

#steppingcontrols a {
    width            : 24px;
    height           : 21px;
    background-image : url("images/buttons.gif");
    background-repeat: no-repeat;
}

#panels {
    display        : flex;
    justify-content: flex-end;
}

#panels a {
    flex: 1 1 100px;
}

#controls {
    margin-bottom: 12px;
}

#controls a.hidden,
.hidden {
    display: none;
}

#controls {
    #startbutton {
        width              : 38px;
        background-position: 0 -99px;
    }

    #randombutton {
        margin-right: 10px;
    }

    #startbutton:hover {
        background-position: -50px -99px;
    }

    #prevbutton {
        background-position: 0 -74px;
    }

    #prevbutton:hover {
        background-position: -50px -74px;
    }

    #stopbutton {
        background-position: 0 0;
    }

    #stopbutton:hover {
        background-position: -50px 0;
    }

    #stepbutton {
        background-position: 0 -49px;
    }

    #stepbutton:hover {
        background-position: -50px -49px;
    }

    #clearbutton {
        background-position: 0 -25px;
    }

    #clearbutton:hover {
        background-position: -50px -25px;
    }

    #randombutton {
        background-position: 0 -125px;
    }

    #randombutton:hover {
        background-position: -50px -125px;
    }
}




a.button,
a.toggler {
    background-image: none;
    background-color: #8c8c00;
    border-radius   : 3px;
    padding         : 1px 8px;
    margin-left     : 8px;
    color           : #dd0;
    text-decoration : none;
    font-weight     : bold;
    letter-spacing  : 1px;
    white-space     : nowrap;
}

a.toggler:hover {
    color: white;
}

.r {
    float: right;
}

.h {
    display: none;
}